.git
.gitignore
.env
__pycache__
*.pyc
*.pyo
.atl
frontend/node_modules
frontend/dist
frontend/android
frontend/capacitor.config.json
Planificacion_SDLC_App_Logistica.xlsx
proceso_bodega_restaurante.txt
